h1{font-family:arial;color:#808080;}
h2{font-family:arial;color:#808080;}
h3{font-family:arial;color:#808080;}
p{font-family:arial;}
a{font-family:arial;color:#7598fd;}
a:hover,a:visited{color:#445b9d;}
li{font-family:arial;}
tt{font-family:arial;color:#808080;}